* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0; }

div.page-container {
  position: relative;
  min-height: 100vh; }

div.wrapper {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 18px; }

div.wrapper.main {
  padding-bottom: 450px;
  height: auto; }

div.clear {
  clear: both; }

input:focus {
  outline: none; }

input:focus::-webkit-input-placeholder {
  opacity: 0; }

.hover, button.white, button.purple, button.clear, nav div.inner-container div.right ul li {
  -o-transition: all .1s ease-in-out;
  -ms-transition: all .1s ease-in-out;
  -moz-transition: all .1s ease-in-out;
  -webkit-transition: all .1s ease-in-out; }

h1, h2, h3, h4, h5 {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 700; }

p, span, li {
  color: #080808;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem; }

h3 {
  border-bottom: solid 1px #EDEFEF;
  font-size: 1.5625rem;
  letter-spacing: 0.03rem;
  line-height: 2rem;
  padding-bottom: 1.125rem;
  padding-top: 2.5rem; }
h3 i.icon-x {
  float: right;
  color: #080808; }

h4 {
  font-size: 1.0625rem;
  letter-spacing: 0.03rem; }

h5 {
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: 0.03rem; }

a {
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 300;
  color: #6344A7; }

a:visited {
  color: #6344A7; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
ul li {
  margin: 0 0 0.8125rem 0; }

table {
  border: 1px solid #EDEFEF !important;
  color: #080808;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.625rem;
  border-spacing: 0; }
table td, table th, table tr {
  padding: 10px 20px;
  border: 1px solid #EDEFEF !important; }

button.white {
  background-color: white;
  border: solid 2px #6344A7;
  border-radius: 25px;
  color: #6344A7;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  height: 3.1875rem;
  width: 170px; }

button.purple {
  background-color: #6344A7;
  border-radius: 25px;
  border: none;
  color: white;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  height: 3.1875rem;
  width: 6.875rem; }

button.clear {
  border: none;
  color: #6344A7;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 0.9375rem; }

nav {
  box-shadow: 0 5px 10px -2px #EDEFEF;
  height: 90px;
  width: 100%; }
nav div.inner-container {
  top: -50%;
  transform: translateY(40%); }
nav div.inner-container img {
  height: 2.625rem;
  top: -50%;
  transform: translateY(10%); }
nav div.inner-container div.right {
  float: right;
  text-align: right;
  width: auto; }
nav div.inner-container div.right ul {
  display: inline-block;
  padding: 0;
  position: relative;
  float: left;
  margin: 0 10px 0 0;
  transform: translateY(50%); }
nav div.inner-container div.right ul a {
  text-decoration: none;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-weight: 400;
  color: #404142; }
nav div.inner-container div.right ul li {
  display: inline;
  margin: 0 1.125rem; }
nav div.inner-container div.right ul a.current {
  color: #6344A7; }
nav div.inner-container div.right.browser {
  display: block; }
nav div.inner-container div.right.mobile {
  display: none;
  top: -50%;
  transform: translateY(40%);
  width: auto; }
nav div.inner-container div.right.mobile i {
  color: #6344A7;
  float: right;
  font-size: 1.9rem;
  margin-right: 1.25rem;
  position: relative;
  z-index: 3; }

div.slide-out {
  background-color: #6344A7;
  height: 100vh;
  opacity: 0.9;
  width: 0;
  position: fixed;
  right: 0;
  z-index: 2; }
div.slide-out div.container {
  display: none;
  height: 500px;
  margin: 31px auto 0 auto;
  width: 75%; }
div.slide-out div.container i.icon-align-center {
  color: white;
  display: none;
  float: right;
  font-size: 1.9rem;
  margin-right: 0;
  position: relative;
  z-index: 3; }
div.slide-out div.container ul {
  position: relative;
  top: 3.125rem;
  padding: 0; }
div.slide-out div.container ul a {
  color: white;
  font-family: "Roboto", "Arial", sans;
  list-style-type: none;
  margin: 1.25rem 0 0 0.625rem;
  text-decoration: none; }

div.faded-layer {
  background-color: #080808;
  display: none;
  height: 100vh;
  opacity: 0.87;
  position: fixed;
  width: 100vw;
  z-index: 1; }

@media only screen and (max-width: 410px) {
  nav div.inner-container div.right ul {
    margin-right: 0; }
  nav div.inner-container div.right button.purple.homepage {
    width: 100px; } }

/*# sourceMappingURL=nav.css.map */
