@import 'global';

button.white:hover {
	background-color:$purple;
	color:white;
}

button.purple:hover {
	background-color:white;
	border:2px solid $purple;
	color:$purple;
	font-weight:400;
}

button.clear:hover {
	color:$black;
}