@import 'global';

//mobile rules

@media only screen and (max-width:1029px) {	
	nav {

		div.inner-container {

			div.right.browser {
				display:none;
			}

			div.right.mobile {
				display:block;
			}

		}

	}

	div.wrapper {

		div.primary {
			width:100%;

			div.accordian {

				h4 {

					span.hide-mobile {
						display:none;
					}

				}

			}

		}

		div.search {

			div#results {
				margin-bottom:3rem;
				width:100%;
			}

		}

		aside.sidebar {
			float:none;
			max-width:100%;

			div.box {

				div.inner-container {

					p.centered {
						text-align:left;
					}

				}

			}
		}

	}

}

