@import 'global';

div.search {

	input.searchbar {
		border:1px solid $border;
		border-radius:5px;
		color:$grey;
		font-size:17px;
		height:58px;
		margin:60px 0 0px 0;
		padding:0.8125rem 0.8125rem 0.8125rem 3.4375rem;
		width:100%;
	}

	i.icon-search {
		color:$purple;
		font-size:25px;
		position:relative;
		top:103px;
		left:16px;
	}

	input.searchbar::placeholder {
		color:$grey;
	}

	div#results {
		float:left;
		margin:60px 0 0 0;
		padding:20px 0 20px 0;
		width:70%;

	}

}