@import 'global';

//side-bar content
aside.sidebar {
	float:right;
	margin-top:3.75rem;
	max-width:17.5rem;

	div.box {
		border: solid 1px $border;
		border-radius: 5px;
		float:right;
		margin-bottom:1.25rem;
		width:100%;

		div.inner-container {
			margin:0 auto;
			padding:1.875rem 0;
			width:80%;

			div.yellow-line {
				background-color:$yellow;
				height:0.25rem;
				width:2.8125rem;
			}

			img {
				margin:0 auto;
				height:100px;
			}

			h3 {
				border-bottom:none;
				padding-bottom:0;
				padding-top:0;
				margin-top:0.9375rem;
				margin-bottom:0;
			}

			h4	{
				text-align:center;
				padding-bottom:0;
				padding-top:0;
				margin:0;
			}

			p {
				margin-top:0.625rem;
				padding-top:0;
			}

			p.centered {
				text-align:center;
			}

			button {
				margin-top:22px;
				width:100%;
			}

			button.clear {
				margin-top:1.5625rem;
				margin-bottom:0;
				width:100%;
			}

		}

	}

}